@page "/"
<div class="main-page">
    <div class="container">
        <SanCatalogHeader Title="San Filmweb"/>
        <SanCatalogSearch />
        <SanCatalogMovies>
            <MovieTile />
            <MovieTile />
        </SanCatalogMovies>
    </div>
</div>
