@inject NavigationManager NavigationManager


@if (Movie != null)
{
    <div class="card movie-card">
        <img class="movie-card-image" src="@Movie.ImageUrl" alt="@Movie.Title">
        <div class="card-body">
            <h5 class="card-title">@Movie.Title</h5>
            <p class="card-text">@Movie.Descr</p>
            <RadzenButton Click="ShowFullMovie" class="btn btn-primary">Show details</RadzenButton>
        </div>
    </div>
}


@code {

    [Parameter]
    public ShortMovie Movie { get; set; }

    void ShowFullMovie()
    {
        NavigationManager.NavigateTo($"/movie/{Movie.Id}");
    }
}


@*public string Id { get; set; }
        public string ImageUrl { get; set; }
        public string Title { get; set; }
        public string Descr { get; set; }*@