<div class="card movie-card">
    <img class="card-img-top" src="https://fwcdn.pl/fph/09/36/936/183168.1.jpg" alt="Movie">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

