<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h3 class="footer-title">San Movie Catalog</h3>
                <div class="footer-text-left">
                    Przykaładowa aplikacja webowa zrealizowana przez grupę 1 podczas ćwiczeń z przedmiotu technologie internetowe
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                 <div class="footer-text-right">
                    Stack technologiczny: ASP.NET Blazor Server Side.<br/>
                    Baza danych filmów: json
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
