<div class="search-container">
    <RadzenText class="search-label" TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Podaj tytuł filmu, nazwisko aktora lub reżysera</RadzenText>
    <div class="search-container-inner">
        <RadzenTextBox Class="w-100" />
        <RadzenButton class="search-button" Shade="Shade.Dark" Text="Szukaj" ButtonStyle="ButtonStyle.Primary" />
    </div>
</div>



@code {

}


@*Click=@(args => OnClick("Primary button"))*@
