@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-page {
    padding: 20px 0 20px 0;
}


/*HEADER*/

.catalog-header {
    background-color: #3633A8;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.catalog-header-text {
    color: #fff;
    font-size: 48px;
}


/*SEARCH*/

.search-container {
    padding: 20px 0 20px 0;
}

.search-container-inner {
    display: flex;
}

.search-label {
    color: #3633A8 !important;
}

.search-button {
    margin-left: 10px!important;
    width: 150px!important;
    min-width: 150px!important;
}

.catalog {
    padding: 20px 0 20px 0;
}

.movie-tile {
    height: 200px;
    min-height: 200px;
    width: 120px;
    min-width: 120px;
    border: 2px solid #3633A8;
    border-radius: 7px;
}